<div class="modal-header">
    <h4 class="modal-title pull-left">Login to Droid Wars</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="card card-body bg-light">
        <form name="loginForm" (ngSubmit)="loginForm.form.valid && login()" #loginForm="ngForm"
              [ngClass]="{ 'was-validated': loginForm.submitted}"
              novalidate>
            <div class="form-group"
                 [ngClass]="{ 'is-invalid': loginForm.submitted && !username.valid }">
                <label class="form-control-label" for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username"
                       [(ngModel)]="model.username" #username="ngModel" required/>
                <div *ngIf="loginForm.submitted && !username.valid" class="invalid-feedback">Username is
                    required
                </div>
            </div>
            <div class="form-group"
                 [ngClass]="{ 'is-invalid': loginForm.submitted && !password.valid }">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password"
                       [(ngModel)]="model.password" #password="ngModel" required/>
                <div *ngIf="loginForm.submitted && !password.valid" class="invalid-feedback">Password is
                    required
                </div>
            </div>
            <div class="form-group">
                <div class="submit-group">
                    <div *ngIf="loading" class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-dark"
                             role="progressbar"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Logging...
                        </div>
                    </div>
                    <button *ngIf="!loading" class="btn btn-success btn-block">Login</button>
                </div>
                <div *ngIf="error" class="alert alert-danger">
                    <h4>There was an error</h4>
                    <p>Unable to log you in a Droid Wars account. Server returned an error: <strong>{{error}}</strong>.
                        If you need help - contact our <a href="mailto:kssgel@yandex.ru">support team</a></p>
                </div>
                <button type="button" class="btn btn-link">Forgot Password</button>
                <button type="button" class="btn btn-link float-right" routerLink="/register" (click)="modalRef.hide()">
                    Register
                </button>
            </div>
        </form>
    </div>
</div>


