<div class="container">
    <div class="row">
        <div class="col-6 align-self-center mt-5 offset-md-3">
            <div class="card card-body bg-light">
                <h2>Register</h2>
                <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm"
                      [ngClass]="{ 'was-validated': f.submitted}" novalidate>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" id="username"
                               [(ngModel)]="model.username"
                               #username="ngModel" required minlength="3" appNativeValidity/>
                        <div *ngIf="f.submitted && username.errors?.minlength" class="invalid-feedback">Username should consist of at least 3 symbols</div>
                        <div *ngIf="f.submitted && username.errors?.required" class="invalid-feedback">Username is required</div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="email" [(ngModel)]="model.email"
                               #email="ngModel" required appNativeValidity/>
                        <div *ngIf="f.submitted && !email.valid" class="invalid-feedback">Email address is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control"
                               name="password" id="password"
                               [(ngModel)]="model.password"
                               #password="ngModel"
                               required/>
                        <div *ngIf="f.submitted && !password.valid" class="invalid-feedback">Password is required</div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" class="form-control"
                               name="confirmPassword" id="confirmPassword"
                               [(ngModel)]="model.confirmPassword"
                               #confirmPassword="ngModel"
                               required [equalTo]="password" appNativeValidity/>
                        <div *ngIf="f.submitted && confirmPassword.errors?.required" class="invalid-feedback">Please confirm your password</div>
                        <div *ngIf="f.submitted && confirmPassword.errors?.equalTo && !confirmPassword.errors?.required" class="invalid-feedback">Passwords don't match</div>
                    </div>
                    <div *ngIf="error" class="alert alert-danger">
                        <h4>There was an error</h4>
                        <p>We wasn't able to create a new Droid Wars account for you. Server returned an error: <strong>{{error}}</strong>.
                            If you need help - contact our <a href="mailto:kssgel@yandex.ru">support team</a></p>
                    </div>
                    <div class="form-group mt-4 submit-group">
                        <div *ngIf="loading" class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-dark" role="progressbar"
                                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Registering user...</div>
                        </div>
                        <button *ngIf="!loading" class="btn btn-primary btn-block">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
