<div class="card">
    <h3 class="card-header">
        Successfully registered
    </h3>
    <div class="card-body">
        <h5 class="card-title">Hello, Friend</h5>
        <p class="card-text">Your Droid-Wars account has been created, please check you inbox at <span class="text-success">{{model.email}}</span> for the confirmation email.</p>
        <p class="card-text">Now you can login into your account with username <span class="text-success">{{model.username}}</span></p>
        <a (click)="loginModal(model.username)" class="btn btn-success text-white">Login</a>
    </div>
</div>
